<div class="form-wrapper form-wrapper-large ">
    <div [formGroup]="mailForm">

        <label>נושא</label>
        <br>
        <input formControlName="subject" type="text" pInputText>
        <br>
        <p-editor formControlName="message" [style]="{'height':'320px'}"></p-editor>
        <br>
        <button class="btn-color" (click)="openDialog()">שליחה</button>


        <p-dialog [(visible)]="emailDialog" [style]="{width: '750px'}" header="פרטי המייל" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <label> שם השולח</label>
                <br>
                <input formControlName="name" type="text" pInputText>
                <br>
                <label>כתובת המייל</label>
                <br>
                <input type="text" formControlName="mailAddress" pInputText>
                <br>
                <label>סיסמה</label>
                <br>
                <input type="password" formControlName="password" pInputText>
            </ng-template>
            <ng-template pTemplate="footer">
                <button icon="pi pi-check" class="btn-color" (click)="send()">שלח</button>
            </ng-template>
        </p-dialog>
    </div>
</div>