<div class="form-wrapper">
    <h3>{{userName}}</h3>
    <br>
    <div [formGroup]="projectForm">
        <div class="p-text-center">
            <label>בחר פרויקט</label>
            <br>
            <p-dropdown (onChange)="getTablesName()" [options]="projectsname" optionLabel="projectname" placeholder=" " formControlName="projectName">
            </p-dropdown>
        </div>
       
        <div [class.display-select]="disable===false">
            <div>
                <label>בחר טבלה לסינון </label>
                <br>
                <p-dropdown (onChange)="getColum()" [options]="tableName" optionLabel="Name" placeholder=" " formControlName="tableOfFilter">
                </p-dropdown>
            </div>
            <div>
                <label>בחר עמודה לסינון </label>
                <br>
                <p-multiSelect [options]="columNameForFilter" defaultLabel="בחר עמודה לסינון" optionLabel="Name" formControlName="columsName" (onPanelHide)="binSelect()"></p-multiSelect>
            </div>
            <br>
            <div>
                <button class="btn-color" (click)="saveSelectedFilter()">שמירה </button>‏
            </div>
            <br>
        </div>
     

        <div [class.display-select]="disable===false">
            <div>
                <label>בחר טבלה המכילה עמודת כתובות מיל </label>
                <br>
                <p-dropdown (onChange)="getColumForMail()" [options]="tableName" optionLabel="Name" placeholder=" " formControlName="tableOfMailAddresss">
                </p-dropdown>
            </div>
            <div>
                <label>בחר עמודה המכילה את כתובות המיל </label>
                <br>
                <p-dropdown [options]="columName" optionLabel="Name" placeholder=" " formControlName="emailColumn">
                </p-dropdown>
            </div>
            <div>
                <label>בחר עמודה המכילה את שמות האנשים </label>
                <br>
                <p-dropdown [options]="columName" optionLabel="Name" placeholder=" " formControlName="columName">
                </p-dropdown>
            </div>
            <br>
            <div>
                <button class="btn-color" (click)="end()">סיום </button>
            </div>
        </div>
    </div>
</div>