<div class="form-wrapper">
    <h2 style="max-width: 180px;">יצירת חברה</h2>

    <div [formGroup]="companyForm" class="colum col-12">

        <img src="{{url}}" />
        <div>
            <label> שם חברה</label>
            <br />
            <input type="text" formControlName="Name" pInputText />
        </div>

        <div>
            <label>סיסמה</label>
            <br />
            <input type="password" formControlName="Password" pInputText />
        </div>

        <div>
            <label>תאריך התחלתי</label>
            <br />
            <p-calendar showButtonBar="true" formControlName="ContractStartDate"></p-calendar>
        </div>

        <div>
            <label>לוגו</label>
            <br />
            <input type="text" formControlName="Logo" pInputText />
        </div>

        <div>
            <label>שם שרת</label>
            <br />
            <input formControlName="LinkToDb" pInputText />
        </div>
        <br />
        <button class="btn-color" label="התחברות" (click)="AddCompany()">התחברות</button>
        <!-- <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000"    chooseLabel="Browse"></p-fileUpload> -->
    </div>
</div>
<!-- <input type="file" (change)="uploadImage($event)">
<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" *ngIf="url">
    <img [src]="url" >
</div> -->