
<!-- <app-login></app-login>
<app-new-company></app-new-company> -->
<!-- <router-outlet></router-outlet> -->
 <!-- <ul><a routerLink="/login">entrance</a> </ul>
<ul><a routerLink='/New-Company'>login</a> </ul>
<ul><a routerLink='/project'>project</a> </ul> -->
<!-- <ul><a routerLink='/filter'>filter</a></ul>  -->
<router-outlet></router-outlet>
<ul><a routerLink='/filter'>בחירת סינונים</a></ul>
<ul><a routerLink='/project'>הגדרת הפרויקט</a></ul>
<ul><a routerLink='/sendEmail'>שליחת המייל</a></ul> 
<router-outlet></router-outlet>  

