<div  [formGroup]="loginForm" class="login">
  <h1>ערב  טוב{{userName}}</h1>
  <label></label>
    <div>
    <label> שם חברה</label>
    <input  type="text"  formControlName="Name" pInputText> 
   </div>
    <br>
   <div>
    <label >סיסמה</label>
    <input type="password" #ww formControlName="Password"  pInputText >
  </div>
<br>
<p-button (click)="checkCompanyRegistered()">קיים </p-button>
<a routerLink="/New-Company"><p-button label="חדש"></p-button></a>
</div>
<div class="msg">
<p-messages [(value)]="msg1"></p-messages>
</div>





 





  










