<div [formGroup]="loginForm" class="login form-wrapper">
    <h2>התחברות </h2>
    <label></label>
    <div>
        <label> שם חברה</label>
        <input type="text" formControlName="Name" pInputText>
    </div>
    <br>
    <div>
        <label>סיסמה</label>
        <input type="password" #ww formControlName="Password" pInputText>
    </div>
    <br> <br>
    <div class="footer-wrapper">
        <button class="btn-color " (click)="checkCompanyRegistered()">התחבר </button>
        <button class="btn-grey" routerLink="/New-Company">    חדש </button>
    </div>
</div>
<div class="msg">
    <p-messages [(value)]="msg1"></p-messages>
</div>