/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css"; 

body{
     background-color: lightseagreen !important;
     text-align: center;
     direction: rtl;
    
    }

/* body .new-compamy .p-inputtext{
    width: 500px !important
} */
  /* all  the input in new company to change the width */
    /* .p-inputtext {
     
     width: 400px;
    
 } */
 msg.p-message .p-message-wrapper{
  padding: inherit;
 }
 .display-select{
   display: none;
 }